<style>
div{
    display:flex;
    flex-direction:row;
    font-size: 25px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
input{
    width:150px;
    height:30px;
    margin:10px;
    border:medium solid blue;
    border-radius:10px;
    background-color:cyan;
}
</style>
<div>{{form(formA)}}</div>