<table border="0" width="100%">
    <tr>
        <td>id</td>
        <td>Name</td>
    </tr>
{% for i in list %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.Name }}</td>
    </tr>
{% endfor %}
</table>
