<style>
div{
    font-size: 25px;
}
input{
    width:150px;
    height:30px;
    margin:10px;
    border:medium solid blue;
    border-radius:10px;
    background-color:cyan;
}
</style>
<div>
{{form(formA)}}
</div>

<a href="{{ path('app_clubList')}}"><button>Back to list</button></a>