		<h2>
			Afficher Student details
		</h2>

		<h4>
			NSC :
			{{show.nsc}}
		</h4>

		<h4>
			Nom :
			{{show.email}}
		</h4>


		<h4>
			Classroom :
			{{show.classroom.name}}
		</h4>

		<form action={{ url('app_studentList') }}>
			<input type="submit" value="Liste des Student"/>
		</form>

	</div>